@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700');

body * {
    font-family: "Nunito", sans-serif;
}

.display-image {
    margin-top: -60px;
    margin-right: 20px;
}

.terms-body {
    max-height: 400px;
    overflow: auto;
}

#page {
    background: #ffffff;
    overflow: visible;
}

#page .container {
    border: none;
}

#page #header {
    margin: 0;
    height: 71px;
    border-bottom: 1px solid #eeeeee !important;
    overflow: hidden;
    padding: 0 30px;
    background-clip: padding-box;
    border-width: 0;
    min-height: 28px;
    background: #f4f4f4 !important;
    /*margin-bottom:20px;*/
}

#page #main {
    padding-top: 20px;
}

#page #header #logo {
    margin-top: 22px;
    margin-left: 0px;
}

#page #header #logo img {
    width: 137px;
}

#page-header-space {
    float: right;
    text-align: right;
    display: block;
    vertical-align: middle;
    line-height: 71px;
}

#page-header-space > :first-child {
    font-size: 13px;
    margin-right: 14px;
    vertical-align: -3px;
    font-weight: 400;
}

#page-header-space .btn {
    font-weight: bold;
    text-transform: uppercase;
}

#page-header-space > * {
    display: inline-block;
}

#page #main {
    background: #ffffff;
    margin: 0;
}

#page .hero {
    background-image: url(../../img/header_3.svg);
    background-repeat: no-repeat;
    background-position: 0 137px;
    height: 360px;
    width: 100%;
    float: left;
}

#page h4.paragraph-header {
    color: #565656;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 15px;
    width: 270px;
}

#page h5.about-heading {
    color: #565656;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 5px;
}

#page .login-header-big {
    font-weight: 400;
}

#page .login-desc-box-l {
    min-height: 350px;
    width: 50%;
}

#page .login-app-icons {
    vertical-align: top;
    margin-top: 90px;
    width: 300px;
}

@media (min-width: 768px) and (max-width: 880px) {
    #page #header {
        padding: 0 5px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 679px) {
    #page #header {
        padding: 0 5px !important;
    }

    #page #header #logo img {
        width: 135px;
    }

    #page #header #logo {
        margin-top: 22px;
    }
}

.styled_form *,
.styled_form *:after,
.styled_form *:before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.styled_form .btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.styled_form .radio + .radio,
.styled_form .checkbox + .checkbox {
    margin-top: 0;
}

.styled_form footer .btn {
    float: right;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
    font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.styled_form legend {
    padding-top: 15px;
}

.styled_form {
    margin: 0;
    outline: none;
    color: #666;
    position: relative;
}

.styled_form header {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    background: white;
    font-size: 16px;
    font-weight: 300;
    color: #232323;
    margin: 10px 14px 0;
}

.styled_form fieldset {
    display: block;
    padding: 25px 14px 5px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
}

.styled_form fieldset + fieldset {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.styled_form div {
    margin-bottom: 15px;
    position: relative;
}

.styled_form footer {
    display: block;
    padding: 7px 14px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(248, 248, 248, 0.9);
}

.styled_form footer:after {
    content: '';
    display: table;
    clear: both;
}

.styled_form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
    white-space: normal;
}

.styled_form .label.col {
    margin: 0;
    padding-top: 7px;
}

.styled_form .note,
.note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

.note {
    margin-top: 2px;
    font-size: 10px;
}

.styled_form .note a {
    font-size: 13px;
}

.styled_form .input,
.styled_form .select,
.styled_form .textarea,
.styled_form .radio,
.styled_form .checkbox,
.styled_form .toggle,
.styled_form .button {
    position: relative;
    display: block;
    font-weight: 400;
}

.styled_form .input input,
.styled_form .select select,
.styled_form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 5px 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.styled_form .input-file .button {
    position: absolute;
    top: 4px;
    right: 4px;
    float: none;
    height: 22px;
    margin: 0;
    padding: 0 14px;
    font-size: 13px;
    line-height: 22px;
}

.styled_form .input-file .button:hover {
    box-shadow: none;
}

.styled_form .input-file .button input {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

.styled_form .select i {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 5px;
    height: 11px;
    background: white;
    box-shadow: 0 0 0 9px white;
    pointer-events: none;
}

.styled_form .select i:after,
.styled_form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.styled_form .select i:after {
    bottom: 0;
    border-top: 4px solid #404040;
}

.styled_form .select i:before {
    top: 0;
    border-bottom: 4px solid #404040;
}

.styled_form .select-multiple select {
    height: auto;
}

.styled_form .textarea textarea {
    height: auto;
    resize: none;
}

.styled_form .textarea-resizable textarea {
    resize: vertical;
}

.styled_form .textarea-expandable textarea {
    height: 31px;
}

.styled_form .textarea-expandable textarea:focus {
    height: auto;
}

.styled_form .radio,
.styled_form .checkbox {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
}

.styled_form .radio:last-child,
.styled_form .checkbox:last-child {
    margin-bottom: 0;
}

.styled_form .radio input,
.styled_form .checkbox input {
    position: absolute;
    left: -9999px;
}

.styled_form .radio i,
.styled_form .checkbox i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}

.styled_form .radio i {
    border-radius: 50%;
}

.styled_form .radio input + i:after,
.styled_form .checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.styled_form .radio input + i:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.styled_form .checkbox input + i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: normal 16px/19px FontAwesome;
    text-align: center;
}

.styled_form .checkbox input:checked:hover + i:after {
    content: '\f00d';
}

.styled_form .checkbox input:checked:disabled:hover + i:after {
    content: '\f00c';
}

.styled_form .radio input:checked + i:after,
.styled_form .checkbox input:checked + i:after {
    opacity: 1;
}

.styled_form .inline-group {
    margin: 0 -15px -4px 0;
}

.styled_form .inline-group:after {
    content: '';
    display: table;
    clear: both;
}

.styled_form .inline-group .radio,
.styled_form .inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.styled_form .inline-group .radio:last-child,
.styled_form .inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

.styled_form .toggle {
    margin-bottom: 4px;
    padding-right: 61px;
    font-size: 15px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
}

.styled_form .toggle:last-child {
    margin-bottom: 0;
}

.styled_form .toggle input {
    position: absolute;
    left: -9999px;
}

.styled_form .toggle i {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 49px;
    height: 17px;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    background: #fff;
}

.styled_form .toggle i:after {
    content: attr(data-swchoff-text);
    position: absolute;
    top: 2px;
    right: 8px;
    left: 8px;
    font-style: normal;
    font-size: 9px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #5f5f5f;
}

.styled_form .toggle i:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 1;
    transition: right 0.2s;
    -o-transition: right 0.2s;
    -ms-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}

.styled_form .toggle input:checked + i:after {
    content: attr(data-swchon-text);
    text-align: right;
}

.styled_form .toggle input:checked + i:before {
    right: 36px;
}

.styled_form .rating {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 25px;
    color: #404040;
}

.styled_form .rating:last-child {
    margin-bottom: 0;
}

.styled_form .rating input {
    position: absolute;
    left: -9999px;
}

.styled_form .rating label {
    display: block;
    float: right;
    height: 17px;
    margin-top: 5px;
    padding: 0 2px;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
}

.styled_form .button {
    float: right;
    height: 31px;
    overflow: hidden;
    margin: 10px 0 0 5px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/31px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.styled_form .icon-append,
.styled_form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.styled_form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}

.styled_form .icon-prepend {
    left: 5px;
    padding-right: 3px;
    border-right-width: 1px;
    border-right-style: solid;
}

.styled_form .input .icon-prepend + input,
.styled_form .textarea .icon-prepend + textarea {
    padding-left: 37px;
}

.styled_form .input .icon-append + input,
.styled_form .textarea .icon-append + textarea {
    padding-right: 37px;
}

.styled_form .input .icon-prepend + .icon-append + input,
.styled_form .textarea .icon-prepend + .icon-append + textarea {
    padding-left: 37px;
}

.styled_form .row {
    margin: 0 -15px;
}

.styled_form .row:after {
    content: '';
    display: table;
    clear: both;
}

.styled_form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.styled_form .col-1 {
    width: 8.33%;
}

.styled_form .col-2 {
    width: 16.66%;
}

.styled_form .col-3 {
    width: 25%;
}

.styled_form .col-4 {
    width: 33.33%;
}

.styled_form .col-5 {
    width: 41.66%;
}

.styled_form .col-6 {
    width: 50%;
}

.styled_form .col-8 {
    width: 66.67%;
}

.styled_form .col-9 {
    width: 75%;
}

.styled_form .col-10 {
    width: 83.33%;
}

@media screen and (max-width: 600px) {
    .styled_form .col {
        float: none;
        width: 100%;
    }
}

.styled_form .select select {
    padding: 5px;
}

.styled_form .tooltip {
    position: absolute;
    z-index: 99999;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: margin 0.3s, opacity 0.3s;
    -o-transition: margin 0.3s, opacity 0.3s;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}

.styled_form .tooltip:after {
    content: '';
    position: absolute;
}

.styled_form .input input:focus + .tooltip,
.styled_form .textarea textarea:focus + .tooltip {
    opacity: 1;
}

.styled_form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px;
}

.styled_form .tooltip-top-right:after {
    top: 100%;
    right: 11px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.styled_form .input input:focus + .tooltip-top-right,
.styled_form .textarea textarea:focus + .tooltip-top-right {
    right: 0;
    left: auto;
    margin-bottom: 5px;
}

.styled_form .tooltip-top-left {
    bottom: 100%;
    margin-bottom: 15px;
}

.styled_form .tooltip-top-left:after {
    top: 100%;
    left: 11px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.styled_form .input input:focus + .tooltip-top-left,
.styled_form .textarea textarea:focus + .tooltip-top-left {
    right: auto;
    left: 0;
    margin-bottom: 5px;
}

.styled_form .tooltip-right {
    top: 4px;
    white-space: nowrap;
    margin-left: 15px;
}

.styled_form .tooltip-right:after {
    top: 6px;
    right: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid rgba(0, 0, 0, 0.9);
    border-bottom: 4px solid transparent;
}

.styled_form .input input:focus + .tooltip-right,
.styled_form .textarea textarea:focus + .tooltip-right {
    left: 100%;
    margin-left: 5px;
}

.styled_form .tooltip-left {
    top: 4px;
    white-space: nowrap;
    margin-right: 15px;
}

.styled_form .tooltip-left:after {
    top: 6px;
    left: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, 0.9);
}

.styled_form .input input:focus + .tooltip-left,
.styled_form .textarea textarea:focus + .tooltip-left {
    right: 100%;
    left: auto;
    margin-right: 5px;
}

.styled_form .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}

.styled_form .tooltip-bottom-right:after {
    bottom: 100%;
    right: 11px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.styled_form .input input:focus + .tooltip-bottom-right,
.styled_form .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}

.styled_form .tooltip-bottom-left {
    top: 100%;
    margin-top: 15px;
}

.styled_form .tooltip-bottom-left:after {
    bottom: 100%;
    left: 11px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.styled_form .input input:focus + .tooltip-bottom-left,
.styled_form .textarea textarea:focus + .tooltip-bottom-left {
    right: auto;
    left: 0;
    margin-top: 5px;
}

.styled_form .input input,
.styled_form .select select,
.styled_form .textarea textarea,
.styled_form .radio i,
.styled_form .checkbox i,
.styled_form .toggle i,
.styled_form .icon-append,
.styled_form .icon-prepend {
    border-color: #BDBDBD;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.styled_form .toggle i:before {
    background-color: #3276B1;
}

.styled_form .rating label {
    color: #ccc;
    transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.styled_form .button {
    background-color: #3276B1;
    opacity: 0.8;
    transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.styled_form .button.button-secondary {
    background-color: #b3b3b3;
}

.styled_form .icon-append,
.styled_form .icon-prepend {
    color: #A2A2A2;
}

.styled_form .input:hover input,
.styled_form .select:hover select,
.styled_form .textarea:hover textarea,
.styled_form .radio:hover i,
.styled_form .checkbox:hover i,
.styled_form .toggle:hover i {
    border-color: #5D98CC;
}

.styled_form .rating input + label:hover,
.styled_form .rating input + label:hover ~ label {
    color: #3276B1;
}

.styled_form .button:hover {
    opacity: 1;
}

.styled_form .radio:hover i,
.styled_form .checkbox:hover i,
.styled_form .toggle:hover i {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.styled_form .radio:active i,
.styled_form .checkbox:active i,
.styled_form .toggle:active i {
    background: #F0F0F0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.styled_form .input input:focus,
.styled_form .select select:focus,
.styled_form .textarea textarea:focus,
.styled_form .radio input:focus + i,
.styled_form .checkbox input:focus + i,
.styled_form .toggle input:focus + i {
    border-color: #3276B1;
}

.styled_form .radio input + i:after {
    background-color: #3276B1;
}

.styled_form .checkbox input + i:after {
    color: #3276B1;
}

.styled_form .radio input:checked + i,
.styled_form .checkbox input:checked + i,
.styled_form .toggle input:checked + i {
    border-color: #3276B1;
}

.styled_form .rating input:checked ~ label {
    color: #3276B1;
}

.styled_form .state-error input,
.styled_form .state-error select,
.styled_form .state-error textarea,
.styled_form .radio.state-error i,
.styled_form .checkbox.state-error i,
.styled_form .toggle.state-error i {
    background: #fff0f0;
    border-color: #A90329;
}

.styled_form .toggle.state-error input:checked + i {
    background: #fff0f0;
}

.styled_form .state-error + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}

.styled_form .rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}

.styled_form .state-error select + i {
    background: #FFF0F0;
    box-shadow: 0 0 0 9px #FFF0F0;
}

.state-error .icon-append,
.state-error .icon-prepend {
    color: #ed1c24;
}

.styled_form .state-success input,
.styled_form .state-success select,
.styled_form .state-success textarea,
.styled_form .radio.state-success i,
.styled_form .checkbox.state-success i,
.styled_form .toggle.state-success i {
    background: #f0fff0;
    border-color: #7DC27D;
}

.styled_form .toggle.state-success input:checked + i {
    background: #f0fff0;
}

.styled_form .note-success {
    color: #6fb679;
}

.styled_form .state-success select + i {
    background: honeyDew;
    box-shadow: 0 0 0 9px honeyDew;
}

.styled_form .input.state-disabled input,
.styled_form .select.state-disabled,
.styled_form .textarea.state-disabled,
.styled_form .radio.state-disabled,
.styled_form .checkbox.state-disabled,
.styled_form .toggle.state-disabled,
.styled_form .button.state-disabled {
    cursor: default !important;
    opacity: 0.6 !important;
}

.styled_form .input.state-disabled:hover input,
.styled_form .select.state-disabled:hover select,
.styled_form .textarea.state-disabled:hover textarea,
.styled_form .radio.state-disabled:hover i,
.styled_form .checkbox.state-disabled:hover i,
.styled_form .toggle.state-disabled:hover i {
    border-color: #e5e5e5 !important;
}

.styled_form .state-disabled.radio input:checked + i,
.styled_form .state-disabled.checkbox input:checked + i,
.styled_form .state-disabled.toggle input:checked + i,
.styled_form .state-disabled.checkbox input + i:after,
.styled_form .state-disabled.radio input + i:after {
    border-color: #e5e5e5 !important;
    color: #333 !important;
}

.styled_form .state-disabled.radio input + i:after {
    background-color: #333;
}

.styled_form .message {
    display: none;
    color: #6fb679;
}

.styled_form .message i {
    display: block;
    margin: 0 auto 20px;
    width: 81px;
    height: 81px;
    border: 1px solid #6fb679;
    border-radius: 50%;
    font-size: 30px;
    line-height: 81px;
}

.styled_form.submited fieldset,
.styled_form.submited footer {
    display: none;
}

.styled_form.submited .message {
    display: block;
    padding: 25px 30px;
    background: rgba(255, 255, 255, 0.9);
    font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
}

.well {
    background-color: #fbfbfb;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative;
}

.client-form header {
    padding: 15px 13px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
}

#header > :first-child, aside {
    width: 220px;
}

#header > div {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    float: left;
}