/* --------------------------------------
=========================================
PVR Taxi App - Multipurpose Bootstrap Admin Dashboard Template
Version: 1.0
Designed By: PVR TECH STUDIO
=========================================
1. Cookie Modal
--------------------------------------------------------*/
/** ************************************* **
	DO NOT CHANGE ANYTHING HERE!
	REWRITE IN A CUSTOM CSS FILE IF REQUIRED!
 ** ************************************* **/

/**	1. Cookie Modal
*************************************************** **/
#cookie_modal .modal-dialog {
    max-width: 400px;
    margin: 10px 10px;
}

@media (min-width: 576px) {
    .modal.left_top {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .modal.left_bottom {
        right: 0;
        bottom: 0;
        left: 0;
        top: unset;
    }

    .modal.right_top {
        right: 0;
        bottom: 0;
        left: unset;
        top: 0;
    }

    .modal.right_bottom {
        right: 0;
        bottom: 0;
        left: unset;
        top: unset;
    }

    .modal.top_center {
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }

    .modal.bottom_center {
        right: 0;
        bottom: 0;
        left: 0;
        top: unset;
    }

    .modal.top_center .modal-dialog {
        margin: 10px auto !important;
    }

    .modal.bottom_center .modal-dialog {
        margin: 10px auto !important;
    }
}

/**	2. Modal Transition
*************************************************** **/
.modal.effect-flip-horizontal {
    perspective: 1300px;
}

.modal.effect-flip-horizontal .modal-dialog {
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    transition: all 0.5s;
    opacity: 0;
}

.modal.effect-flip-horizontal.show .modal-dialog {
    transform: rotateY(0deg);
    opacity: 1;
}

/**	3. Cookie
*************************************************** **/
.pvr_cookie {
    z-index: 99999;
    position: fixed;
}

.cookieNotice {
    text-align: left;
    width: 100%;
    padding: 24px;
}

.cookieNotice .title {
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.cookieNotice p, .cookieNotice a {
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.cookieNotice label {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    content: "";
    opacity: .6;
    background: url(../img/down.png) 0 0 no-repeat;
}

.closeModal {
    cursor: pointer;
}

/**	4. Cookie Dark
*************************************************** **/
.cookieNotice.cookie_dark {
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

.cookieNotice.cookie_dark label {
    background: url(../img/down.png) 0 0 no-repeat;
}

/**	5. Cookie Light
*************************************************** **/
.cookieNotice.cookie_light {
    background: rgba(238, 238, 238, .9);
    color: #333;
}

.cookieNotice.cookie_light label {
    background: url(../img/down_dark.png) 0 0 no-repeat;
}

/**	6. FullWidth Bottom Left
*************************************************** **/
.pvr_cookie.bottomLeft {
    bottom: 0;
    left: 0;
    width: 100% !important;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

/**	7. FullWidth Top Left
*************************************************** **/
.pvr_cookie.topLeft {
    top: 0;
    left: 0;
    width: 100% !important;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

/**	8. Boxed Top Left
*************************************************** **/
.pvr_cookie.boxedTopLeft {
    top: 0;
    left: 0;
    width: 30%;
    margin: 10px;
    padding: 0;
    box-shadow: none;
}

.pvr_cookie.boxedTopLeft .cookieNotice p,
.pvr_cookie.boxedTopLeft .cookieNotice a {
    width: 80%;
}

/**	9. Boxed Top Right
*************************************************** **/
.pvr_cookie.boxedTopRight {
    top: 0;
    right: 0;
    width: 30%;
    margin: 10px;
    padding: 0;
    box-shadow: none;
}

.pvr_cookie.boxedTopRight .cookieNotice p,
.pvr_cookie.boxedTopRight .cookieNotice a {
    width: 80%;
}

/**	10. Boxed Bottom Left
*************************************************** **/
.pvr_cookie.boxedBottomLeft {
    bottom: 0;
    left: 0;
    width: 30%;
    margin: 10px;
    padding: 0;
    box-shadow: none;
}

.pvr_cookie.boxedBottomLeft .cookieNotice p,
.pvr_cookie.boxedBottomLeft .cookieNotice a {
    width: 80%;
}

/**	11. Boxed Bottom Right
*************************************************** **/
.pvr_cookie.boxedBottomRight {
    bottom: 0;
    right: 0;
    width: 30%;
    margin: 10px;
    padding: 0;
    box-shadow: none;
}

.pvr_cookie.boxedBottomRight .cookieNotice p,
.pvr_cookie.boxedBottomRight .cookieNotice a {
    width: 80%;
}

/**	12. Boxed Center Top
*************************************************** **/
.pvr_cookie.boxedCenterTop {
    width: 30%;
    margin: 10px auto;
    padding: 0;
    box-shadow: none;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.pvr_cookie.boxedCenterTop .cookieNotice p,
.pvr_cookie.boxedCenterTop .cookieNotice a {
    width: 80%;
}

/**	13. Boxed Center Bottom
*************************************************** **/
.pvr_cookie.boxedCenterBottom {
    width: 30%;
    margin: 10px auto;
    padding: 0;
    box-shadow: none;
    right: 0;
    bottom: 0;
    left: 0;
}

.pvr_cookie.boxedCenterBottom .cookieNotice p,
.pvr_cookie.boxedCenterBottom .cookieNotice a {
    width: 80%;
}

/**	14. Cookie Background text color
*************************************************** **/
.cookieNotice.bg-primary *,
.cookieNotice.bg-success *:not(a),
.cookieNotice.bg-danger *:not(a),
.cookieNotice.bg-info *:not(a),
.cookieNotice.bg-warning *:not(a),
.cookieNotice.bg-secondary *:not(a){
    color: #ffffff;
}

/**	15. Responsive
*************************************************** **/
@media screen and (max-width: 560px) {
    .cookieNotice,
    .pvr_cookie {
        height: auto !important;
    }

    .pvr_cookie {
        width: 100% !important;
    }

    .cookieNotice p {
        padding-right: 30px !important;
    }

    .cookieNotice label {
        top: 20px !important;
        right: 20px !important;
    }
}

@media screen and (min-width: 768px) {
    .pvr_cookie {
        width: 50% !important;
    }
}

@media screen and (min-width: 1024px) {
    .pvr_cookie {
        width: 40% !important;
    }
}

@media screen and (min-width: 1440px) {
    .pvr_cookie {
        width: 30% !important;
    }
}