/* --------------------------------------
=========================================
PVR Taxi App - Multipurpose Bootstrap Admin Dashboard Template
Version: 1.0
Designed By: PVR TECH STUDIO
=========================================
1. Skin
2. Dark Layout
3. Light Sidebar
--------------------------------------------------------*/
/** ************************************* **
	DO NOT CHANGE ANYTHING HERE!
	REWRITE IN A CUSTOM CSS FILE IF REQUIRED!
 ** ************************************* **/

/**	1. Skin
*************************************************** **/
.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #6c71d1 #5d62cd #4e54c8;
}

.badge.badge-success, .label.label-success, .navbar-nav > li > a .label {
    background: #4e54c8 !important;
}

.btn.btn-success {
    color: #fff;
    background: #4e54c8 !important;
    border-color: #4e54c8 !important;
}

.btn-outline-success {
    color: #4e54c8 !important;
    border-color: #4e54c8 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #4e54c8 !important;
    border-color: #4e54c8 !important;
}

.product article .new-tag,
.product article .cart-btn:hover,
.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:focus,
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top,
.accordion_success .panel-heading,
span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);

}

.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

.text-theme,
.sidebar .sub-menu > li.active > a:before {
    color: #8f94fb;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #4e54c8;
    }
}

.pace-progress {
    background: #4e54c8;
}

.pace .pace-activity {
    border-top-color: #4e54c8;
    border-left-color: #4e54c8;
}

.product article .title_pro,
.panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #4e54c8;
}

.light_sidebar .sidebar .nav > li.active > a .badge,
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #4e54c8;
}

.top-menu .nav > li.active > a,
.top-menu .nav > li.active > a:focus,
.top-menu .nav > li.active > a:hover {
    background: #4e54c8;
}

.todolist > li.active > a .todolist-input i:before, .todolist > li.active > a:focus .todolist-input i:before, .todolist > li.active > a:hover .todolist-input i:before {
    color: #4e54c8 !important;
}

.panel-heading:after {
    border-bottom: 3px solid #4e54c8;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: #4e54c8;
    border-color: #4e54c8;
}

/**	2. Dark Layout
*************************************************** **/
.dark_version {
    background: #2d363c;
}

.dark_version .navbar.navbar-default {
    background: #2d363c;
}

.dark_version .navbar-default .navbar-nav > li > a,
.dark_version .navbar-default .navbar-brand {
    color: #bbbbbb;
}

.dark_version .panel-pvr > .panel-heading,
.dark_version .navbar-nav > li > .dropdown-menu,
.dark_version .panel.panel-loading .panel-body .panel-loader,
.dark_version .preloader,
.dark_version pre,
.dark_version .page-sidebar-minified .sidebar .nav li.has-sub > .sub-menu,
.dark_version .dropdown-menu.media-list .dropdown-header,
.dark_version .sidebar .nav > li.nav-profile,
.dark_version .sidebar, .sidebar-bg,
.dark_version .contacts_main .contact_box,
.dark_version .contacts_main .contact-box.center-version > a,
.dark_version .contacts_main .contact-box .contact-box-footer,
.dark_version .file_manager .file,
.dark_version .file_manager .file .file-name,
.dark_version .table.table-separate tbody td,
.dark_version .table.table-separate.table > thead > tr > th,
.dark_version .bg-white,
.dark_version .user-profile,
.dark_version .pvr-box,
.dark_version .timed-activity .ta-date span:after,
.dark_version .pvr-cookie-consent-bar.pvr-cookie-consent-bar-light,
.dark_version .panel,
.dark_version .table > tbody > tr > td:not(.details-control),
.dark_version .table > tbody > tr > th,
.dark_version .table > tfoot > tr > td,
.dark_version .table > tfoot > tr > th,
.dark_version .table > thead > tr > td,
.dark_version .table > thead > tr > th,
.dark_version .tab-content,
.dark_version .dd-handle,
.dark_version .dd3-content,
.dark_version .show-grid [class^=col-],
.dark_version .modal-content,
.dark_version .footer,
.dark_version .file_manager .tag-list li a,
.dark_version .fc-button,
.dark_version table,
.dark_version .input-group-addon,
.dark_version .daterangepicker td.off,
.dark_version .daterangepicker td.off.in-range,
.dark_version .daterangepicker td.off.start-date,
.dark_version .daterangepicker td.off.end-date,
.dark_version .daterangepicker,
.dark_version .daterangepicker .calendar-table,
.dark_version .select2-container--default .select2-selection--single,
.dark_version .select2-container--default .select2-selection--multiple,
.dark_version .select2-dropdown,
.dark_version .bootstrap-select .dropdown-menu,
.dark_version .bootstrap-tagsinput,
.dark_version .tt-menu,
.dark_version .sw-theme-default .sw-toolbar,
.dark_version .sw-theme-default .step-content,
.dark_version .dropzone,
.dark_version .pagination > li > a,
.dark_version .pagination > li > span,
.dark_version .popover,
.dark_version .pricing--palden .pricing__item,
.dark_version .widget,
.dark_version .card,
.dark_version .invoice,
.dark_version .profile-tile,
.dark_version ul.users-list.as-tiles li a,
.dark_version .live_customizer.menu-wrap,
.dark_version .new_initiative .dialog__content-inner,
.dark_version .new_initiative .actions,
.dark_version .new_initiative .dialog__header,
.dark_version .new_initiative .dialog__footer {
    background: #262e31 !important;
}

.dark_version body,
.dark_version h1, .dark_version h2, .dark_version h3, .dark_version h4, .dark_version h5, .dark_version h6,
.dark_version h1 small, .dark_version h2 small, .dark_version h3 small, .dark_version h4 small, .dark_version h5 small, h6 small,
.dark_version label,
.dark_version p,
.dark_version strong,
.dark_version span,
.dark_version div,
.dark_version pre,
.dark_version legend,
.dark_version .panel-heading-btn > i,
.dark_version .panel-title,
.dark_version .navbar-default .navbar-nav .open .dropdown-menu > li > a,
.dark_version .preloader:after,
.dark_version .navbar-default .navbar-nav > .open > a,
.dark_version .navbar-default .navbar-nav > .open > a:focus,
.dark_version .navbar-default .navbar-nav > .open > a:hover,
.dark_version .dropdown-header,
.dark_version .sidebar .nav > li.nav-profile .user_icons,
.dark_version .media a:not(.btn).media-heading:focus,
.dark_version .media a:not(.btn).media-heading:hover,
.dark_version .media a:not(.btn):focus,
.dark_version .media a:not(.btn):focus,
.dark_version .media-heading,
.dark_version .media a:not(.btn):hover,
.dark_version .media a:not(.btn):hover .media-heading,
.dark_version .file_manager .file .file-name,
.dark_version .file_manager .folder-list li a,
.dark_version .file_manager .file-control,
.dark_version .file_manager .folder-list li i,
.dark_version .table.table-separate tbody td,
.dark_version .table.table-separate.table > thead > tr > th,
.dark_version .timed-activity .ta-timestamp strong,
.dark_version .timed-activity .ta-timestamp:after,
.dark_version .text-muted,
.dark_version .dd-handle,
.dark_version .dd3-content,
.dark_version .jstree-open > .jstree-anchor > .fa-folder:before,
.dark_version .mark,
.dark_version mark,
.dark_version .fc th,
.dark_version .contacts_main .btn.focus,
.dark_version .contacts_main .btn:focus,
.dark_version .contacts_main .btn:hover,
.dark_version .fc-button,
.dark_version .datepicker table tr td.today:hover,
.dark_version .ranges li,
.dark_version .daterangepicker td.in-range,
.dark_version .select2-container--default .select2-selection--single,
.dark_version .select2-container--default .select2-selection--multiple,
.dark_version .select2-container--default .select2-results__group,
.dark_version .select2-container--default .select2-selection--multiple .select2-selection__choice,
.dark_version .sw-theme-default > ul.step-anchor > li.done > a,
.dark_version .dropzone .dz-message,
.dark_version .table > thead > tr > th,
.dark_version .pagination > li > a,
.dark_version .pagination > li > span,
.dark_version .icon-plus:before,
.dark_version .icon-minus:before,
.dark_version .profile-tile .profile-tile-meta ul,
.dark_version .text-inverse {
    color: rgba(255, 255, 255, 0.7019607843137254) !important;
}

.dark_version .timed-activities.compact .timed-activity:before,
.dark_version .navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.7019607843137254) !important;
}

.dark_version .bg-grey-clock,
.dark_version .panel.panel-pvr.bg-grey-clock,
.dark_version .bg-grey-clock-heading {
    background: transparent !important;
}

.dark_version .dropdown-menu .divider,
.dark_version .panel-heading:after,
.dark_version .dd-handle,
.dark_version .dropdown-menu.media-list > .media,
.dark_version .fc-unthemed td {
    border-color: rgba(255, 255, 255, 0.7019607843137254) !important;
}

.dark_version .dropdown-menu > li > a:focus,
.dark_version .fc-unthemed .fc-today,
.dark_version .dropdown-menu > li > a:hover {
    background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.dark_version .navbar-nav > li > .dropdown-menu {
    border-top: 0;
}

.dark_version .tooltip .tooltip-inner {
    background-color: rgba(255, 255, 255, 1);
    color: #262e31 !important;
}

.dark_version select,
.dark_version textarea,
.dark_version input.form-control,
.dark_version .ranges li,
.dark_version input.select2-search__field {
    background-color: rgba(18, 22, 41, 0.22);
    border-color: rgba(18, 22, 41, 0.34);
    color: rgba(255, 255, 255, 1);
}

.dark_version .has-warning input.form-control {
    border-color: #f59c1a;
}

.dark_version .has-error input.form-control {
    border-color: #ff5b57;
}

.dark_version .has-success input.form-control {
    border-color: #00acac;
}

.dark_version .select2-container .select2-selection--single,
.dark_version .select2-container--default .select2-selection--multiple {
    border-color: rgba(18, 22, 41, 0.34) !important;
}

.dark_version .jstree-default .jstree-clicked,
.dark_version .jstree-default .jstree-wholerow-clicked,
.dark_version .jstree-default .jstree-hovered,
.dark_version .jstree-default .jstree-wholerow-hovered,
.dark_version .dd-handle:hover,
.dark_version .dd3-content:hover,
.dark_version .progress,
.dark_version code,
.dark_version .mark,
.dark_version mark,
.dark_version .contacts_main .btn.focus,
.dark_version .contacts_main .btn:focus,
.dark_version .contacts_main .btn:hover,
.dark_version .fc-button:hover,
.dark_version .datepicker .datepicker-switch:hover,
.dark_version .datepicker .prev:hover,
.dark_version .datepicker .next:hover,
.dark_version .datepicker tfoot tr th:hover,
.dark_version .datepicker table tr td.day:hover,
.dark_version .datepicker table tr td.focused,
.dark_version .datetimepicker table tr td.day:hover,
.dark_version .datetimepicker thead tr:first-child th:hover,
.dark_version .datetimepicker tfoot th:hover,
.dark_version .daterangepicker .ranges li.active,
.dark_version .daterangepicker .ranges li:hover,
.dark_version .daterangepicker td.in-range,
.dark_version .daterangepicker td.active,
.dark_version .daterangepicker td.active:hover,
.dark_version .daterangepicker td.available:hover,
.dark_version .daterangepicker th.available:hover,
.dark_version .select2-container--default .select2-results__option[aria-selected=true],
.dark_version .select2-results__option--highlighted[aria-selected],
.dark_version .select2-container--default .select2-selection--multiple .select2-selection__choice,
.dark_version span.twitter-typeahead .active.tt-suggestion,
.dark_version span.twitter-typeahead .tt-suggestion.tt-cursor,
.dark_version span.twitter-typeahead .active.tt-suggestion:focus,
.dark_version span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
.dark_version span.twitter-typeahead .active.tt-suggestion:hover,
.dark_version span.twitter-typeahead .tt-suggestion.tt-cursor:hover,
.dark_version span.twitter-typeahead .tt-suggestion:focus,
.dark_version .dropdown-item:hover,
.dark_version span.twitter-typeahead .tt-suggestion:hover {
    background: rgb(0, 0, 0) !important;
}

.dark_version code,
.dark_version .datepicker.dropdown-menu,
.dark_version .daterangepicker .ranges li.active,
.dark_version .daterangepicker .ranges li:hover {
    border-color: rgb(0, 0, 0) !important;
}

.dark_version .btn-group-vertical > .btn,
.dark_version .btn-group > .btn,
.dark_version .fc th,
.dark_version .datepicker table tr td span:hover,
.dark_version .datepicker table tr td span.focused,
.dark_version .datetimepicker table tr td span:hover {
    background: rgb(45, 54, 60) !important;
}

.dark_version .daterangepicker:after {
    border-bottom: 7px solid #262e31 !important;
}

.dark_version .daterangepicker:before {
    border-bottom: 6px solid #262e31 !important;
}

.dark_version .input-group-addon {
    background-color: rgba(38, 46, 49, 1) !important;
}

.dark_version td.details-control {
    background: #262e31 url('../plugins/DataTables/details_open.png') no-repeat center center !important;
}

.dark_version tr.shown td.details-control {
    background: #262e31 url('../plugins/DataTables/details_close.png') no-repeat center center !important;
}

.dark_version .pricing.pricing--palden path,
.dark_version .highcharts-background {
    fill: #262e31 !important;
}

.dark_version #chartdiv_aminated text,
.dark_version .high_chart text {
    fill: #FFF !important;
}

.dark_version .waitMe {
    background: rgba(45, 54, 60, 0.8) !important;
}

.dark_version .template-options-wrapper {
    background-color: #262e31;
}

/**	3. Light Sidebar
*************************************************** **/
.light_sidebar .sidebar,
.light_sidebar .sidebar-bg,
.light_sidebar .sidebar .nav > li.nav-profile {
    background: #fff
}

.light_sidebar .sidebar .nav > li > a {
    color: #2d353c;
}

.page-sidebar-minified.light_sidebar .sidebar .nav li.has-sub > .sub-menu,
.page-sidebar-minified.light_sidebar .sidebar .nav > li.has-sub:focus > a,
.page-sidebar-minified.light_sidebar .sidebar .nav > li.has-sub:hover > a,
.light_sidebar .sidebar .nav > li .sub-menu {
    background: #f0f3f4 !important
}

.light_sidebar .sidebar .nav > li .sub-menu:before {
    background: #B1B9C0 !important
}

.light_sidebar .sidebar .nav > li .sub-menu > li > a:before {
    content: '\E15B';
    font-family: "Material Icons";
    color: #B1B9C0;
}

.light_sidebar .sidebar .nav > li .sidebar-minify-btn,
.light_sidebar .sidebar .nav > li .sidebar-minify-btn:focus,
.light_sidebar .sidebar .nav > li .sidebar-minify-btn:hover,
.light_sidebar .sidebar .nav > li.active.expand > a,
.light_sidebar .sidebar .nav > li.active > a,
.light_sidebar .sidebar .nav > li.active > a:focus,
.light_sidebar .sidebar .nav > li.active > a:hover,
.light_sidebar .page-sidebar-minified .sidebar .nav > li.active:focus > a,
.light_sidebar .page-sidebar-minified .sidebar .nav > li.active:hover > a,
.light_sidebar .page-sidebar-minified .sidebar .nav > li.active > a {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.light_sidebar .sidebar .nav > li.expand > a,
.light_sidebar .sidebar .nav > li > a:focus,
.light_sidebar .sidebar .nav > li > a:hover,
.light_sidebar .page-sidebar-minified .sidebar .nav > li.has-sub:focus > a,
.light_sidebar .page-sidebar-minified .sidebar .nav > li.has-sub:hover > a {
    background: #E6E9EA;
}

.light_sidebar .sidebar .nav > li .sub-menu > li.active > a:before,
.light_sidebar .sidebar .nav > li.expand > a,
.light_sidebar .sidebar .nav > li.active > a:hover,
.light_sidebar .sidebar .nav > li.active > a:focus {
    color: #575d63 !important
}

.light_sidebar .sidebar .sub-menu > li.active > a,
.light_sidebar .sidebar .sub-menu > li.active > a:focus,
.light_sidebar .sidebar .sub-menu > li.active > a:hover,
.light_sidebar .sidebar .sub-menu > li > a:focus,
.light_sidebar .sidebar .sub-menu > li > a:hover {
    color: #333
}

.light_sidebar .page-sidebar-minified .sidebar .nav > li.active > a > i,
.light_sidebar .sidebar .nav > li.active > a {
    color: #FFF !important
}

.light_sidebar .sidebar .sub-menu > li > a,
.light_sidebar .sidebar .nav > li.nav-profile,
.light_sidebar .sidebar .nav > li.nav-profile i,
.light_sidebar .sidebar .nav > li.nav-profile .info small,
.light_sidebar .charjs-chart .charjs-chart-label strong,
.light_sidebar .charjs-chart .charjs-chart-label span {
    color: #000 !important;
}

.light_sidebar .nav-profile .tooltip .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

/**	4. Orange
*************************************************** **/
body.orange .navbar-logo,
body.orange .coming-soon .brand .logo,
body.orange .login .login-header .brand .logo {
    border-color: #ffb75c #ffae48 #ffa534;
}

body.orange .badge.badge-success,
body.orange .label.label-success,
body.orange .navbar-nav > li > a .label {
    background: #ffa534 !important;
}

body.orange .btn.btn-success {
    color: #fff;
    background: #ffa534 !important;
    border-color: #ffa534 !important;
}

body.orange .btn-outline-success {
    color: #ffa534 !important;
    border-color: #ffa534 !important;
}

body.orange .btn-outline-success:hover {
    color: #fff !important;
    background-color: #ffa534 !important;
    border-color: #ffa534 !important;
}

body.orange .product article .new-tag,
body.orange .product article .cart-btn:hover,
body.orange .navbar.navbar-inverse .navbar-brand,
body.orange .sidebar .nav > li.active > a,
body.orange .sidebar .nav > li.active > a:focus,
body.orange .sidebar .nav > li.active > a:hover,
body.orange .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.orange .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.orange .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.orange .label.label-theme,
body.orange .btn.btn-scroll-to-top,
body.orange .accordion_success .panel-heading,
body.orange span.twitter-typeahead .active.tt-suggestion,
body.orange span.twitter-typeahead .tt-suggestion.tt-cursor,
body.orange span.twitter-typeahead .active.tt-suggestion:focus,
body.orange span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.orange span.twitter-typeahead .active.tt-suggestion:hover,
body.orange span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #ffa534;
    background: -webkit-linear-gradient(top, #FFA534 0%, rgba(255, 82, 33, 0.7) 100%);
    background: linear-gradient(to bottom, #FFA534 0%, rgba(255, 82, 33, 0.7) 100%);

}

body.orange .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.orange .text-theme,
body.orange .sidebar .sub-menu > li.active > a:before {
    color: #ffb75c;
}

@media (max-width: 767px) {
    body.orange .navbar-inverse .navbar-header {
        background: #ffa534;
    }
}

body.orange .pace-progress {
    background: #ffa534;
}

body.orange .pace .pace-activity {
    border-top-color: #ffa534;
    border-left-color: #ffa534;
}

body.orange .product article .title_pro,
body.orange .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #ffa534;
}

body.orange .light_sidebar .sidebar .nav > li.active > a .badge,
body.orange .nav-pills > li.active > a,
body.orange .nav-pills > li.active > a:focus,
body.orange .nav-pills > li.active > a:hover,
body.orange .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #ffa534;
}

body.orange .top-menu .nav > li.active > a,
body.orange .top-menu .nav > li.active > a:focus,
body.orange .top-menu .nav > li.active > a:hover {
    background: #ffa534;
}

body.orange .todolist > li.active > a .todolist-input i:before,
body.orange .todolist > li.active > a:focus .todolist-input i:before,
body.orange .todolist > li.active > a:hover .todolist-input i:before {
    color: #ffa534 !important;
}

body.orange .panel-heading:after {
    border-bottom: 3px solid #ffa534;
}

body.orange .pagination > .active > a,
body.orange .pagination > .active > a:focus,
body.orange .pagination > .active > a:hover,
body.orange .pagination > .active > span,
body.orange .pagination > .active > span:focus,
body.orange .pagination > .active > span:hover {
    background: #ffa534;
    border-color: #ffa534;
}

/**	5. green
*************************************************** **/
body.green .navbar-logo,
body.green .coming-soon .brand .logo,
body.green .login .login-header .brand .logo {
    border-color: #9fd544 #93d02d #87CB16;
}

body.green .badge.badge-success,
body.green .label.label-success,
body.green .navbar-nav > li > a .label {
    background: #87CB16 !important;
}

body.green .btn.btn-success {
    color: #fff;
    background: #87CB16 !important;
    border-color: #87CB16 !important;
}

body.green .btn-outline-success {
    color: #87CB16 !important;
    border-color: #87CB16 !important;
}

body.green .btn-outline-success:hover {
    color: #fff !important;
    background-color: #87CB16 !important;
    border-color: #87CB16 !important;
}

body.green .product article .new-tag,
body.green .product article .cart-btn:hover,
body.green .navbar.navbar-inverse .navbar-brand,
body.green .sidebar .nav > li.active > a,
body.green .sidebar .nav > li.active > a:focus,
body.green .sidebar .nav > li.active > a:hover,
body.green .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.green .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.green .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.green .label.label-theme,
body.green .btn.btn-scroll-to-top,
body.green .accordion_success .panel-heading,
body.green span.twitter-typeahead .active.tt-suggestion,
body.green span.twitter-typeahead .tt-suggestion.tt-cursor,
body.green span.twitter-typeahead .active.tt-suggestion:focus,
body.green span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.green span.twitter-typeahead .active.tt-suggestion:hover,
body.green span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #87CB16;
    background: -webkit-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: linear-gradient(to bottom, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);

}

body.green .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.green .text-theme,
body.green .sidebar .sub-menu > li.active > a:before {
    color: #9fd544;
}

@media (max-width: 767px) {
    body.green .navbar-inverse .navbar-header {
        background: #87CB16;
    }
}

body.green .pace-progress {
    background: #87CB16;
}

body.green .pace .pace-activity {
    border-top-color: #87CB16;
    border-left-color: #87CB16;
}

body.green .product article .title_pro,
body.green .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #87CB16;
}

body.green .light_sidebar .sidebar .nav > li.active > a .badge,
body.green .nav-pills > li.active > a,
body.green .nav-pills > li.active > a:focus,
body.green .nav-pills > li.active > a:hover,
body.green .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #87CB16;
}

body.green .top-menu .nav > li.active > a,
body.green .top-menu .nav > li.active > a:focus,
body.green .top-menu .nav > li.active > a:hover {
    background: #87CB16;
}

body.green .todolist > li.active > a .todolist-input i:before,
body.green .todolist > li.active > a:focus .todolist-input i:before,
body.green .todolist > li.active > a:hover .todolist-input i:before {
    color: #87CB16 !important;
}

body.green .panel-heading:after {
    border-bottom: 3px solid #87CB16;
}

body.green .pagination > .active > a,
body.green .pagination > .active > a:focus,
body.green .pagination > .active > a:hover,
body.green .pagination > .active > span,
body.green .pagination > .active > span:focus,
body.green .pagination > .active > span:hover {
    background: #87CB16;
    border-color: #87CB16;
}

/**	6. red
*************************************************** **/
body.red .navbar-logo,
body.red .coming-soon .brand .logo,
body.red .login .login-header .brand .logo {
    border-color: #fb666e #fb535d #FB404B;
}

body.red .badge.badge-success,
body.red .label.label-success,
body.red .navbar-nav > li > a .label {
    background: #FB404B !important;
}

body.red .btn.btn-success {
    color: #fff;
    background: #FB404B !important;
    border-color: #FB404B !important;
}

body.red .btn-outline-success {
    color: #FB404B !important;
    border-color: #FB404B !important;
}

body.red .btn-outline-success:hover {
    color: #fff !important;
    background-color: #FB404B !important;
    border-color: #FB404B !important;
}

body.red .product article .new-tag,
body.red .product article .cart-btn:hover,
body.red .navbar.navbar-inverse .navbar-brand,
body.red .sidebar .nav > li.active > a,
body.red .sidebar .nav > li.active > a:focus,
body.red .sidebar .nav > li.active > a:hover,
body.red .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.red .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.red .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.red .label.label-theme,
body.red .btn.btn-scroll-to-top,
body.red .accordion_success .panel-heading,
body.red span.twitter-typeahead .active.tt-suggestion,
body.red span.twitter-typeahead .tt-suggestion.tt-cursor,
body.red span.twitter-typeahead .active.tt-suggestion:focus,
body.red span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.red span.twitter-typeahead .active.tt-suggestion:hover,
body.red span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #FB404B;
    background: -webkit-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: linear-gradient(to bottom, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);

}

body.red .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.red .text-theme,
body.red .sidebar .sub-menu > li.active > a:before {
    color: #fb666e;
}

@media (max-width: 767px) {
    body.red .navbar-inverse .navbar-header {
        background: #FB404B;
    }
}

body.red .pace-progress {
    background: #FB404B;
}

body.red .pace .pace-activity {
    border-top-color: #FB404B;
    border-left-color: #FB404B;
}

body.red .product article .title_pro,
body.red .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #FB404B;
}

body.red .light_sidebar .sidebar .nav > li.active > a .badge,
body.red .nav-pills > li.active > a,
body.red .nav-pills > li.active > a:focus,
body.red .nav-pills > li.active > a:hover,
body.red .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #FB404B;
}

body.red .top-menu .nav > li.active > a,
body.red .top-menu .nav > li.active > a:focus,
body.red .top-menu .nav > li.active > a:hover {
    background: #FB404B;
}

body.red .todolist > li.active > a .todolist-input i:before,
body.red .todolist > li.active > a:focus .todolist-input i:before,
body.red .todolist > li.active > a:hover .todolist-input i:before {
    color: #FB404B !important;
}

body.red .panel-heading:after {
    border-bottom: 3px solid #FB404B;
}

body.red .pagination > .active > a,
body.red .pagination > .active > a:focus,
body.red .pagination > .active > a:hover,
body.red .pagination > .active > span,
body.red .pagination > .active > span:focus,
body.red .pagination > .active > span:hover {
    background: #FB404B;
    border-color: #FB404B;
}

/**	7. azure
*************************************************** **/
body.azure .navbar-logo,
body.azure .coming-soon .brand .logo,
body.azure .login .login-header .brand .logo {
    border-color: #4ed6f2 #38d1f0 #23ccef;
}

body.azure .badge.badge-success,
body.azure .label.label-success,
body.azure .navbar-nav > li > a .label {
    background: #23ccef !important;
}

body.azure .btn.btn-success {
    color: #fff;
    background: #23ccef !important;
    border-color: #23ccef !important;
}

body.azure .btn-outline-success {
    color: #23ccef !important;
    border-color: #23ccef !important;
}

body.azure .btn-outline-success:hover {
    color: #fff !important;
    background-color: #23ccef !important;
    border-color: #23ccef !important;
}

body.azure .product article .new-tag,
body.azure .product article .cart-btn:hover,
body.azure .navbar.navbar-inverse .navbar-brand,
body.azure .sidebar .nav > li.active > a,
body.azure .sidebar .nav > li.active > a:focus,
body.azure .sidebar .nav > li.active > a:hover,
body.azure .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.azure .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.azure .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.azure .label.label-theme,
body.azure .btn.btn-scroll-to-top,
body.azure .accordion_success .panel-heading,
body.azure span.twitter-typeahead .active.tt-suggestion,
body.azure span.twitter-typeahead .tt-suggestion.tt-cursor,
body.azure span.twitter-typeahead .active.tt-suggestion:focus,
body.azure span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.azure span.twitter-typeahead .active.tt-suggestion:hover,
body.azure span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #23ccef;
    background: -webkit-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background: linear-gradient(to bottom, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);

}

body.azure .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.azure .text-theme,
body.azure .sidebar .sub-menu > li.active > a:before {
    color: #4ed6f2;
}

@media (max-width: 767px) {
    body.azure .navbar-inverse .navbar-header {
        background: #23ccef;
    }
}

body.azure .pace-progress {
    background: #23ccef;
}

body.azure .pace .pace-activity {
    border-top-color: #23ccef;
    border-left-color: #23ccef;
}

body.azure .product article .title_pro,
body.azure .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #23ccef;
}

body.azure .light_sidebar .sidebar .nav > li.active > a .badge,
body.azure .nav-pills > li.active > a,
body.azure .nav-pills > li.active > a:focus,
body.azure .nav-pills > li.active > a:hover,
body.azure .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #23ccef;
}

body.azure .top-menu .nav > li.active > a,
body.azure .top-menu .nav > li.active > a:focus,
body.azure .top-menu .nav > li.active > a:hover {
    background: #23ccef;
}

body.azure .todolist > li.active > a .todolist-input i:before,
body.azure .todolist > li.active > a:focus .todolist-input i:before,
body.azure .todolist > li.active > a:hover .todolist-input i:before {
    color: #23ccef !important;
}

body.azure .panel-heading:after {
    border-bottom: 3px solid #23ccef;
}

body.azure .pagination > .active > a,
body.azure .pagination > .active > a:focus,
body.azure .pagination > .active > a:hover,
body.azure .pagination > .active > span,
body.azure .pagination > .active > span:focus,
body.azure .pagination > .active > span:hover {
    background: #23ccef;
    border-color: #23ccef;
}

/**	8. black
*************************************************** **/
body.black .navbar-logo,
body.black .coming-soon .brand .logo,
body.black .login .login-header .brand .logo {
    border-color: #939393 #868686 #797979;
}

body.black .badge.badge-success,
body.black .label.label-success,
body.black .navbar-nav > li > a .label {
    background: #797979 !important;
}

body.black .btn.btn-success {
    color: #fff;
    background: #797979 !important;
    border-color: #797979 !important;
}

body.black .btn-outline-success {
    color: #797979 !important;
    border-color: #797979 !important;
}

body.black .btn-outline-success:hover {
    color: #fff !important;
    background-color: #797979 !important;
    border-color: #797979 !important;
}

body.black .product article .new-tag,
body.black .product article .cart-btn:hover,
body.black .navbar.navbar-inverse .navbar-brand,
body.black .sidebar .nav > li.active > a,
body.black .sidebar .nav > li.active > a:focus,
body.black .sidebar .nav > li.active > a:hover,
body.black .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.black .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.black .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.black .label.label-theme,
body.black .btn.btn-scroll-to-top,
body.black .accordion_success .panel-heading,
body.black span.twitter-typeahead .active.tt-suggestion,
body.black span.twitter-typeahead .tt-suggestion.tt-cursor,
body.black span.twitter-typeahead .active.tt-suggestion:focus,
body.black span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.black span.twitter-typeahead .active.tt-suggestion:hover,
body.black span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: #87CB16;
    background: -webkit-linear-gradient(top, #797979 0%, rgba(121, 121, 121, 0.7) 100%);
    background: linear-gradient(to bottom, #797979 0%, rgba(121, 121, 121, 0.7) 100%);

}

body.black .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.black .text-theme,
body.black .sidebar .sub-menu > li.active > a:before {
    color: #939393;
}

@media (max-width: 767px) {
    body.black .navbar-inverse .navbar-header {
        background: #797979;
    }
}

body.black .pace-progress {
    background: #797979;
}

body.black .pace .pace-activity {
    border-top-color: #797979;
    border-left-color: #797979;
}

body.black .product article .title_pro,
body.black .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #797979;
}

body.black .light_sidebar .sidebar .nav > li.active > a .badge,
body.black .nav-pills > li.active > a,
body.black .nav-pills > li.active > a:focus,
body.black .nav-pills > li.active > a:hover,
body.black .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #797979;
}

body.black .top-menu .nav > li.active > a,
body.black .top-menu .nav > li.active > a:focus,
body.black .top-menu .nav > li.active > a:hover {
    background: #797979;
}

body.black .todolist > li.active > a .todolist-input i:before,
body.black .todolist > li.active > a:focus .todolist-input i:before,
body.black .todolist > li.active > a:hover .todolist-input i:before {
    color: #797979 !important;
}

body.black .panel-heading:after {
    border-bottom: 3px solid #797979;
}

body.black .pagination > .active > a,
body.black .pagination > .active > a:focus,
body.black .pagination > .active > a:hover,
body.black .pagination > .active > span,
body.black .pagination > .active > span:focus,
body.black .pagination > .active > span:hover {
    background: #797979;
    border-color: #797979;
}

/**	6. multi_color
*************************************************** **/
body.multi_color .navbar-logo,
body.multi_color .coming-soon .brand .logo,
body.multi_color .login .login-header .brand .logo {
    border-color: #4280ff #2f73ff #1b66ff;
}

body.multi_color .badge.badge-success,
body.multi_color .label.label-success,
body.multi_color .navbar-nav > li > a .label {
    background: #1b66ff !important;
}

body.multi_color .btn.btn-success {
    color: #fff;
    background: #1b66ff !important;
    border-color: #1b66ff !important;
}

body.multi_color .btn-outline-success {
    color: #1b66ff !important;
    border-color: #1b66ff !important;
}

body.multi_color .btn-outline-success:hover {
    color: #fff !important;
    background-color: #1b66ff !important;
    border-color: #1b66ff !important;
}

body.multi_color .product article .new-tag,
body.multi_color .product article .cart-btn:hover,
body.multi_color .navbar.navbar-inverse .navbar-brand,
body.multi_color .sidebar .nav > li.active > a,
body.multi_color .sidebar .nav > li.active > a:focus,
body.multi_color .sidebar .nav > li.active > a:hover,
body.multi_color .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
body.multi_color .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
body.multi_color .page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
body.multi_color .label.label-theme,
body.multi_color .btn.btn-scroll-to-top,
body.multi_color .accordion_success .panel-heading,
body.multi_color span.twitter-typeahead .active.tt-suggestion,
body.multi_color span.twitter-typeahead .tt-suggestion.tt-cursor,
body.multi_color span.twitter-typeahead .active.tt-suggestion:focus,
body.multi_color span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
body.multi_color span.twitter-typeahead .active.tt-suggestion:hover,
body.multi_color span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    /*background: #1b66ff;
    background: -webkit-linear-gradient(top, #1b66ff 0%, rgba(187, 5, 2, 0.7) 100%);
    background: linear-gradient(to bottom, #1b66ff 0%, rgba(187, 5, 2, 0.7) 100%);*/

    background-image: url(../img/3.png) !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 45% 30% !important;

}

body.multi_color .navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

body.multi_color .text-theme,
body.multi_color .sidebar .sub-menu > li.active > a:before {
    color: #4280ff;
}

@media (max-width: 767px) {
    body.multi_color .navbar-inverse .navbar-header {
        background: #1b66ff;
    }
}

body.multi_color .pace-progress {
    background: #1b66ff;
}

body.multi_color .pace .pace-activity {
    border-top-color: #1b66ff;
    border-left-color: #1b66ff;
}

body.multi_color .product article .title_pro,
body.multi_color .panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    color: #fff;
}

body.multi_color .light_sidebar .sidebar .nav > li.active > a .badge,
body.multi_color .nav-pills > li.active > a,
body.multi_color .nav-pills > li.active > a:focus,
body.multi_color .nav-pills > li.active > a:hover,
body.multi_color .light_sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #1b66ff;
}

body.multi_color .top-menu .nav > li.active > a,
body.multi_color .top-menu .nav > li.active > a:focus,
body.multi_color .top-menu .nav > li.active > a:hover {
    background: #1b66ff;
}

body.multi_color .todolist > li.active > a .todolist-input i:before,
body.multi_color .todolist > li.active > a:focus .todolist-input i:before,
body.multi_color .todolist > li.active > a:hover .todolist-input i:before {
    color: #1b66ff !important;
}

body.multi_color .panel-heading:after {
    border-bottom: 3px solid #1b66ff;
}

body.multi_color .pagination > .active > a,
body.multi_color .pagination > .active > a:focus,
body.multi_color .pagination > .active > a:hover,
body.multi_color .pagination > .active > span,
body.multi_color .pagination > .active > span:focus,
body.multi_color .pagination > .active > span:hover {
    background: #1b66ff;
    border-color: #1b66ff;
}


.make_smaller.onoffswitch-inner:before, .make_smaller.onoffswitch-inner:after {
    line-height: 18px;
    font-size: 7px;
}