* {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.pvr_authentication {
    --color-text: #fff;
    --color-link: #002068;
    --color-link-hover: #8f94fb;
    --color-enter: #ecec11;
    --color-title: #ffffff;
    --color-subtitle: #002068;
    --color-menu-item: #fff;
    --color-menu-item-hover: #000;
    --color-menu-item-hover-alt: #000;
    --color-content: #4e54c8;
    --color-content-fixed: #ddd;
    --font-alt: 400 6vw/1 'Fugaz One', serif;
    --color-next: #fff;
    --color-next-hover: #000;
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

.icon--arrow-right {
    transform: scale3d(-1, -1, 1);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}

.frame {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 1.5em;
    pointer-events: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 4em;
    grid-template-areas: 'header ...' '... ...' 'github demos';
}

.frame a {
    pointer-events: auto;
}

.pvr__header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    align-self: start;
    grid-area: header;
    justify-self: start;
}

.pvr__header__title {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0.75em 0;
    color: #ffffff;
}

/* Top Navigation Style */
.pvr__links {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 1em 0 0;
    text-align: center;
    white-space: nowrap;
}

.pvr__icon {
    display: inline-block;
    margin: 0.15em;
    padding: 0.25em;
}

/* Page transitions */
main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    height: 100vh;
    position: relative;
}

.content--intro {
    z-index: 100;
    height: 200vh;
}

.content--fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-content-fixed);
    /* background-image: var(--bg-img); */
    /* can't use this as relative path until it's fixed in Chrome https://bugs.chromium.org/p/chromium/issues/detail?id=618165 */
    background-position: 50% 50%;
    background-size: cover;
}

.content__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content--intro .content__inner {
    background: var(--color-content);
}

.content h2 {
    margin: 0;
}

.shape-wrap {
    position: relative;
    z-index: 10;
    margin: -5px 0 0 0; /* Hide the gap */
}

.shape {
    height: 100vh;
    width: 100%;
    display: block;
    fill: var(--color-content);
}

.content__title {
    font: var(--font-alt);
    color: var(--color-title);
    margin: 0;
    line-height: 1;
}

.content__title--filled {
    background: var(--color-content);
    padding: 0.25em 0.5em;
}

.content__title span {
    display: inline-block;
}

.content__subtitle {
    font: var(--font-alt);
    font-size: 1.5em;
    color: var(--color-subtitle);
    padding: 0.5em 0 0 0;
    margin: 0;
}

.enter, .explore {
    margin: 6vh 0 0 0;
    font-size: 1em;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
    white-space: pre;
    color: var(--color-enter);
    pointer-events: auto;
}

.enter:hover,
.enter:focus {
    color: var(--color-enter);
}

.enter span {
    display: inline-block;
}

.explore {
    background: var(--color-subtitle);
    color: var(--color-title);
    padding: 0.5em 1em;
}

.explore:hover,
.explore:focus {
    background: var(--color-text);
}

@media screen and (max-width: 50em) {
    .frame {
        z-index: 1000;
        display: block;
        padding: 0.85em 0;
    }

    .pvr__header {
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
    }

    .pvr__header__title {
        font-weight: bold;
        padding-bottom: 0.25em;
        text-align: center;
    }

    .pvr__links {
        margin: 0;
    }

    .content--intro .content__inner {
        padding-top: 12em;
    }

    .content__title {
        font-size: 2em;
    }

}

.content--fixed:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.theme-orange .auth .pvr_card .header {
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pvr_card {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.pvr_card .header {
    color: #555;
    padding: 15px;
    position: relative;
    box-shadow: none;
    margin-bottom: 0
}

.pvr_card .body {
    font-size: 14px;
    color: #444;
    padding: 20px;
    font-weight: 400
}

.form-group-pvr {
    width: 100%;
    margin-bottom: 25px
}

.form-group-pvr .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 7px;
    margin: 27px 0 0 0;
}

.form-group-pvr .form-line-pvr {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd
}

.form-group-pvr .form-line-pvr:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    bottom: -1px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
    border-bottom: 2px solid #9368E9
}

.form-group-pvr .form-line-pvr .form-label {
    font-weight: normal;
    color: #aaa;
    position: absolute;
    top: 10px;
    left: 0;
    cursor: text;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s
}

.form-group-pvr .form-line-pvr.focused:after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.form-group-pvr .form-line-pvr.error:after {
    border-bottom: 2px solid #F44336
}

.form-group-pvr .form-line-pvr.success:after {
    border-bottom: 2px solid #4CAF50
}

.form-group-pvr .form-line-pvr.warning:after {
    border-bottom: 2px solid #FFC107
}

.form-group-pvr .form-line-pvr.focused .form-label {
    top: -10px;
    left: 0;
    font-size: 12px
}

.auth {
    height: 100vh;
    max-width: 350px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center
}

.auth_bg:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.auth .pvr_card {
    max-width: 350px;
    margin-top: 30%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: white;
}

.auth .pvr_card.pvr_registration{
    margin-top: 150px;
}

.auth .pvr_card .header {
    margin-top: -70px;
    color: #16191a;
    margin-bottom: 20px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.auth .pvr_card .header h1 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px
}

.auth .pvr_card .title {
    margin: 15px;
}

.auth .pvr_card .msg {
    font-size: 14px;
    font-weight: 400;
    text-transform: none
}

.auth .l-social {
    margin: 0
}

.auth .l-social li {
    display: inline-block
}

.auth .l-social li a {
    text-align: center;
    padding: 5px 10px;
    color: #666
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .auth .pvr_card {
        margin-top: 100px
    }
}

@media only screen and (max-width: 992px) {
    .auth .pvr_card {
        margin-top: 100px
    }
}

.auth_reg .container {
    position: relative;
    z-index: 3;
    padding-top: 15vh;
}

.auth_reg .material-icons {
    color: #888888;
    vertical-align: middle;
}

.auth_v2_box {
    max-width: 400px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.auth_v2 {
    padding-top: 10vh !important;
}

.auth_v2_box.wider {
    max-width: 500px;
}

.auth_v2_box .logged-user-w {
    padding-top: 0px;
    padding-bottom: 10px;
}

.auth_v2_box .logo-w {
    text-align: center;
    padding: 8%;
}

.auth_v2_box .auth-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    text-align: center;
}

.auth_v2_box form {
    padding: 20px 70px;
    padding-bottom: 60px;
}

.auth_v2_box form .form-check-inline {
    margin-left: 1rem;
}

.auth_v2_box form .form-group {
    position: relative;
}

.auth_v2_box form .form-group .pre-icon {
    position: absolute;
    bottom: 5px;
    font-size: 24px;
    color: #888888;
    left: -38px;
}

.auth_v2_box .buttons-w {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.auth_v2_box.centered {
    text-align: center;
}

.auth_v2_box.centered .auth-header {
    padding-left: 0px;
}

.auth_v2_box.centered .auth-header:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.lock_screen .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.form-group-pvr .form-line-pvr.focused:after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.form-group-pvr .form-line-pvr.focused .form-label {
    top: -10px;
    left: 0;
    font-size: 12px
}

.btn.btn-success {
    color: #fff;
    background: #4e54c8 !important;
    border-color: #4e54c8 !important;
}

.checkbox label::before {
    margin-left: -19px;
}

.login_v2_section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.login_v2_auth_bg{
    position: absolute;
    z-index: 1;
    max-width: unset;
}


.preloader .loading h2, .preloader .loading .progress {
    display: none;
}

.preloader {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 99999;
}

.preloader:after {
    content: "loading..";
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 30px 0 0 -15px;
}

.loading {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 43%;
    left: 50%;
    margin: -20px 0 0 -20px;
    background-color: #4e54c8;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.loading_small {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    background-color: #4e54c8;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}